<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sistema Web KN</title>

    <link href="~/Template/css/all.min.css" rel="stylesheet" />
    <link href="~/Template/css/sb-admin-2.css" rel="stylesheet" />
    <link href="~/Template/css/generales.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://cdn.datatables.net/2.2.2/css/dataTables.bootstrap4.css" rel="stylesheet" />

</head>

@{
    var nombreUsuario = "Invitad@";

    if (Session["NombreUsuario"] != null)
    {
        nombreUsuario = Session["NombreUsuario"].ToString();
    }
}

<body id="page-top">

    <div id="wrapper">

        @if (Session["IdPerfilUsuario"] != null)
        {
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Inicio","Principal")">
                    <div class="sidebar-brand-text mx-3">Proyecto KN</div>
                </a>

                <hr class="sidebar-divider my-0">

                @if (Session["IdPerfilUsuario"] != null && Session["IdPerfilUsuario"].ToString() == "1")
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("ConsultarPuestos", "Puesto")">
                            <i class="fas fa-fw fa-chart-area"></i>
                            <span>Mant. Puestos</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("ConsultarOfertas", "Oferta")">
                            <i class="fas fa-fw fa-chart-area"></i>
                            <span>Mant. Ofertas</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("", "")">
                            <i class="fas fa-fw fa-chart-area"></i>
                            <span>Seg. Ofertas</span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("ConsultarOfertasDisponibles", "Oferta")">
                            <i class="fas fa-fw fa-chart-area"></i>
                            <span>Ver Ofertas</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("ConsultarOfertasAplicadas", "Oferta")">
                            <i class="fas fa-fw fa-chart-area"></i>
                            <span>Ver Ofertas Aplicadas</span>
                        </a>
                    </li>
                }


                <hr class="sidebar-divider d-none d-md-block">

                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>

            </ul>
        }

        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">

                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    @if (Session["IdPerfilUsuario"] != null)
                    {
                        @("Perfil: " + Session["NombrePerfilUsuario"].ToString())
                    }
                    else
                    {
                        <div>Sistema Web KN</div>
                    }

                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                <span class="mr-2 d-none d-lg-inline text-gray-600">@nombreUsuario</span>
                                <img class="img-profile rounded-circle" src="~/Template/img/undraw_profile.svg" />
                            </a>

                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">

                                @if (Session["IdPerfilUsuario"] == null)
                                {
                                    <a class="dropdown-item" href="@Url.Action("IniciarSesion", "Principal")">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Iniciar Sesión
                                    </a>
                                }
                                else
                                {
                                    <a class="dropdown-item" href="@Url.Action("ActualizarDatos", "Usuario")">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Actualizar Datos
                                    </a>
                                    <a class="dropdown-item" href="@Url.Action("CambiarAcceso", "Usuario")">
                                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Cambiar Contraseña
                                    </a>
                                    <a class="dropdown-item" href="@Url.Action("CerrarSesion", "Principal")">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Cerrar Sesión
                                    </a>
                                }

                            </div>
                        </li>

                    </ul>

                </nav>

                <div class="container-fluid">
                    <br />
                    @RenderBody()
                </div>

            </div>

            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; @DateTime.Now.Year</span>
                    </div>
                </div>
            </footer>

        </div>

    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script src="~/Template/js/jquery.min.js"></script>
    <script src="~/Template/js/bootstrap.bundle.min.js"></script>
    <script src="~/Template/js/jquery.easing.min.js"></script>
    <script src="~/Template/js/sb-admin-2.min.js"></script>
    <script src="~/Template/js/generales.js"></script>
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.bootstrap4.js"></script>

</body>

</html>