@model KN_ProyectoClase.BD.Oferta

@{
    ViewBag.Title = "AgregarOferta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-3 col-md-2"></div>
    <div class="col-lg-6 col-md-8">

        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Actualizar Oferta</h1>
        </div>

        @if (ViewBag.Mensaje != null)
        {
            <div class="alert alert-warning msjCentrado">
                @ViewBag.Mensaje
            </div>
        }

        @using (Html.BeginForm("ActualizarOferta", "Oferta", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.Id, new { @class = "form-control form-control-user", @Required = "true" })
            @Html.HiddenFor(x => x.Imagen, new { @class = "form-control form-control-user" })

            <div class="form-group">
                @Html.DropDownListFor(x => x.IdPuesto, (IEnumerable<SelectListItem>)ViewBag.PuestoCombo, new { @class = "form-control", @Required = "true" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(x => x.Cantidad, new { @class = "form-control form-control-user", @placeholder = "Cantidad", @Required = "true" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(x => x.Salario, new { @class = "form-control form-control-user", @placeholder = "Salario", @Required = "true" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(x => x.Horario, new { @class = "form-control form-control-user", @placeholder = "Horario", @Required = "true" })
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-10">
                        <input type="file" id="ImagenOferta" name="ImagenOferta" class="form-control">
                    </div>
                    <div class="col-2">
                        @Html.CheckBoxFor(x => x.Disponible, new { @class = "form-check-input" })
                        Disponible
                    </div>
                </div>
            </div>

            <div class="form-check form-group">
                <img class="card-img-top" src="@Model.Imagen" style="width:30%; height:120px;" alt="Imagen No cargada">
            </div>

            <div style="text-align: right; width: 200px">
                <input type="submit" class="btn btn-danger btn-user btn-block" value="Procesar">
            </div>
        }

    </div>
</div>

