@model List<KN_ProyectoClase.BD.ConsultarOfertas_Result>


@{
    ViewBag.Title = "ConsultarOfertasDisponibles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Ofertas Disponibles</h6>
    </div>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Cantidad</th>
                <th>Salario</th>
                <th>Horario</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.NOMBRE</td>
                    <td>@item.Descripcion</td>
                    <td>@item.Cantidad</td>
                    <td>$ @item.Salario.ToString("N2")</td>
                    <td>@item.Horario</td>
                </tr>
            }
        </tbody>
    </table>
</div>
