@model List<KN_ProyectoClase.BD.ConsultarOfertas_Result>

@{
    ViewBag.Title = "ConsultarOfertas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <h5 class="m-0 font-weight-bold text-primary">Ofertas Disponibles</h5>

    <br />

    <table id="example" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Salario</th>
                <th>Horario</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                var disponible = item.Disponible ? "Activo" : "Inactivo";

                <tr>
                    <td>@item.Id</td>
                    <td>@item.Nombre</td>
                    <td>@item.Cantidad</td>
                    <td>$ @item.Salario.ToString("N2")</td>
                    <td>@item.Horario</td>
                    <td>@disponible</td>
                    <td><input type="button" class="btn btn-outline-primary" value="Ver Detalle" /></td>

                </tr>
            }

        </tbody>
    </table>

</div>

<script src="~/Template/js/jquery.min.js"></script>
<script>

    $(document).ready(function () {

        var table = new DataTable('#example', {
            language: {
                url: '//cdn.datatables.net/plug-ins/2.2.2/i18n/es-ES.json',
            },
            columnDefs: [
                { "className": "dt-left", "targets": "_all" }
            ]
        });

    });

</script>
