@model KN_ProyectoClase.BD.Usuario

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-3 col-md-2"></div>
    <div class="col-lg-6 col-md-8">

        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Actualizar Datos Personales</h1>
        </div>

        @if (ViewBag.Mensaje != null)
        {
            <div class="alert alert-warning msjCentrado">
                @ViewBag.Mensaje
            </div>
        }

        @using (Html.BeginForm("ActualizarDatos", "Usuario"))
        {
            @Html.HiddenFor(x => x.Id, new { @class = "form-control form-control-user", @placeholder = "Id", @Required = "true" })

            <div class="form-group">
                Identificación
                @Html.TextBoxFor(x => x.Identificacion, new { @class = "form-control form-control-user", @Required = "true", @onkeyup = "ConsultarNombre();" })
            </div>

            <div class="form-group">
                Nombre
                @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control form-control-user", @Required = "true", ReadOnly = "true" })
            </div>
            
            <div class="form-group">
                Correo 
                @Html.TextBoxFor(x => x.Correo, new { @class = "form-control form-control-user", @type = "email",  @Required = "true" })
            </div>

            <div style="text-align: right; width: 200px">
                <input type="submit" class="btn btn-danger btn-user btn-block" value="Procesar">
            </div>
        }

    </div>
</div>
